@font-face {
    font-family: 'Emad-Diana eXtra Normal';
    src: url('Emad-DianaeXtra-Normal.woff2') format('woff2'),
        url('Emad-DianaeXtra-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Emad-Diana eXtra Normal';
    src: url('Emad-DianaeXtra-Normal.woff2') format('woff2'),
        url('Emad-DianaeXtra-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

